body {
  /* The image used */
  background-image: url(1.jpg);

  /* Full height */
  /* width: 100%; */

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
